# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.env
.env.*
!.env.example
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# archived source images
/public/images/archive/

# documentation assets
/docs/screenshots/*
!/docs/screenshots/.gitkeep
